.administrar {
  border: 30 solid white;
  padding: 30px;
  background-color: #fff;
  height: calc(100vh - 156px);
}

.imgPadre {
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: center;
  height: 100%;
}
.imgPadre div {
  margin: 0px;
  width: 100%;
  max-width: 1200px;
  margin-left: 0px;
  margin-right: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 133px);
  grid-auto-rows: 220px;
  justify-content: center;
}
.imgFondoCard {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  grid-column: span 2;
  height: 283px;
  transition: 0.5s filter;
  cursor: pointer;
  background: url(src/assets/img/fondo.png);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarjetas {
}
.imgCard {
  height: 100px;
  transition: 0.5s filter;
  cursor: pointer;
  background: url(src/assets/img/fondo.png);
  background-size: cover;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}
.titleCard {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.imgFondoCard:first-of-type {
  grid-column: 2 / span 2;
}
a {
  text-decoration: none;
  margin: 0px 10px;
}

#i1 {
  background-color: aqua;
}
#i2 {
  background-color: red;
}
#i3 {
  background-color: purple;
}
#i4 {
  background-color: palegreen;
}
#i5 {
  background-color: slateblue;
}
#i6 {
  background-color: yellow;
}
#i7 {
  background-color: violet;
}

#i1:hover,
#i2:hover,
#i3:hover,
#i4:hover,
#i5:hover,
#i6:hover,
#i7:hover {
  filter: brightness(0.6);
}

/**/
/*------------Media Querys------------*/
@media screen and (max-width: 575px) {
  .administrar {
    height: 100vh;
  }
}
/*Pantallas sm*/
@media screen and (max-width: 767px) {
  h2 {
    font-size: 15px !important;
  }
}
/*Pantallas md*/
@media screen and (max-width: 1353px) {
  h2 {
    font-size: 20px !important;
  }
  .tarjetas div {
    padding: 0px 5px;
  }
  .imgCard {
    display: inline-flex;
    margin: 5px 0px;
    width: 100%;
    border-radius: 10px;
  }
  .imgPadre{
    height: 0px !important;
  }
  .imgPadre div {
    display: none;
  }
}
