<div class="bordeContenido administrar alineacion">
  <div class="imgPadre row">
    <div class="col-12 m-1">
      <a routerLink="junta" id="i1" class="imgFondoCard">
        <h2 class="titleCard">Junta Directiva</h2>
      </a>
      <a routerLink="org" id="i2" class="imgFondoCard">
        <h2 class="titleCard">Organizaciones</h2>
      </a>
    </div>
    <div class="col-12 m-1">
      <a routerLink="servicios" id="i3" class="imgFondoCard">
        <h2 class="titleCard">Servicios</h2>
      </a>
      <a id="i4" class="imgFondoCard">
        <h2 class="titleCard">Ubicaciones</h2>
      </a>
      <a routerLink="rn" id="i5" class="imgFondoCard">
        <h2 class="titleCard">Recursos Naturales</h2>
      </a>
    </div>
    <div class="col-12 m-1">
      <a routerLink="financiamientos" id="i6" class=" imgFondoCard">
        <h2 class="titleCard">Financiamientos</h2>
      </a>
      <a routerLink="requerimientos" id="i7" class=" imgFondoCard">
        <h2 class="titleCard">Requerimientos</h2>
      </a>
    </div>
  </div>
  <div class="tarjetas row">
    <div class=" col-12 col-md-6">
      <a routerLink="junta" id="i1" class="imgCard">
        <h2 class="titleCard">Junta Directiva</h2>
      </a>
    </div>
    <div class=" col-12 col-md-6">
      <a routerLink="org" id="i2" class="imgCard col-12 col-md-6">
        <h2 class="titleCard">Organizaciones</h2>
      </a>
    </div>
    <div class=" col-12 col-md-6">
      <a routerLink="servicios" id="i3" class="imgCard col-12 col-md-6">
        <h2 class="titleCard">Servicios</h2>
      </a>
    </div>
    <div class=" col-12 col-md-6">
      <a id="i4" class="imgCard col-12 col-md-6">
        <h2 class="titleCard">Ubicaciones</h2>
      </a>
    </div>
    <div class=" col-12 col-md-6">
      <a routerLink="rn" id="i5" class="imgCard col-12 col-md-6">
        <h2 class="titleCard">Recursos Naturales</h2>
      </a>
    </div>
    <div class=" col-12 col-md-6">
      <a routerLink="financiamientos" id="i6" class=" imgCard col-12 col-md-6">
        <h2 class="titleCard">Financiamientos</h2>
      </a>
    </div>
    <div class="col-3"></div>
    <div class=" col-12 col-md-6">
      <a routerLink="requerimientos" id="i7" class=" imgCard">
        <h2 class="titleCard">Requerimientos</h2>
      </a>
    </div>
    <div class="col-3"></div>
  </div>
</div>
