.borde {
  height: 100%;
  width: 100%;
}
a{
  text-decoration: none;
}
.borde a {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  border-radius: 40px;
  height: 100%;
  border: 15px solid var(--color2);
  display: flex;
  align-items: center;
  color: var(--color2) !important;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}
.borde a:hover {
  border: 15px solid var(--color2);
  color: #fff !important;
  background-color: var(--color2);
  filter: contrast(100%);
}
.borde a:active{
  border-color: #dc511a;
  background-color:#dc511a;
  font-size: 80px;
}

/*Pantallas sm*/
@media screen and (max-width: 767px) {
  .borde {
    padding-top: 2rem;
  }
  .borde a {
    height: 30%;
    font-size: 20px;
    border: 1px solid var(--color2);
    user-select: none;
  }
  .borde a:active{
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .borde {
    padding-top: 2rem;
  }
  .borde a {
    height: 30%;
    font-size: 30px;
    border: 5px solid var(--color2);
  }
  .borde a:active{
    font-size: 40px;
  }
}
