<div class="bordeContenido administrar alineacion">
  <div class="imgPadre row">
    <div class="col-12 m-1">
        <a id="i1" class="imgFondoCard">
          <h2 class="titleCard">Junta Directiva</h2>
        </a>
        <a id="i2" class="imgFondoCard">
          <h2 class="titleCard">Organizaciones</h2>
        </a>
    </div>
    <div class="col-12 m-1">
      <a id="i3" class="imgFondoCard">
        <h2 class="titleCard">Servicios</h2>
      </a>
      <a id="i4" class="imgFondoCard">
        <h2 class="titleCard">Ubicaciones</h2>
      </a>
      <a id="i5" class="imgFondoCard">
        <h2 class="titleCard">Recursos Naturales</h2>
      </a>
    </div>
    <div class="col-12 m-1">
      <a id="i6" class=" imgFondoCard">
        <h2 class="titleCard">Financiamientos</h2>
      </a>
      <a id="i7" class=" imgFondoCard">
        <h2 class="titleCard">Requerimientos</h2>
      </a>
    </div>

  </div>



  <!-- <div class="imgPadre">
    <div class="itemImg">
      <div class="itemImg">
        <a id="i1" class="imgFondoCard d-grid">
          <h2>Junta Directiva</h2>
        </a>
        <a id="i2" class=" imgFondoCard">
          <h2>Organizaciones</h2>
        </a>
      </div>
    </div>
    <div class="itemImg">
      <a id="i3" class="galeriaItem imgFondoCard">
        <h2>Recursos Naturales</h2>
      </a>
      <a id="i4" class="galeriaItem imgFondoCard">
        <h2>Financiamiento</h2>
      </a>
      <a id="i5" class="galeriaItem imgFondoCard">
        <h2>Requerimientos</h2>
      </a>
    </div>
    <div class="itemImg">

      <a id="i6" class="galeriaItem imgFondoCard">
        <h2>Servicios</h2>
      </a>
      <a id="i7" class="galeriaItem imgFondoCard">
        <h2>Otros</h2>
      </a>
    </div>
  </div> -->






  <!--
  <div class="row row-cols-1 row-cols-md-3 g-4 m-0 p-0">
    <div class="col">
      <a routerLink="/usuarios" class="card card-body h-100 btn colorBtn justify-content-center aling-items-center">
        <h2 class="">Ubicaciones</h2>
      </a>
    </div>
    <div class="col ">
      <a routerLink="/usuarios" class="card card-body h-100 btn colorBtn justify-content-center aling-items-center">
        <h2>Ubicaciones</h2>
      </a>
    </div>
    <div class="col ">
      <a routerLink="/usuarios" class="card card-body h-100 btn colorBtn justify-content-center aling-items-center">
        <h2>Ubicaciones</h2>
      </a>
    </div>
    <div class="col ">
      <a routerLink="/usuarios" class="card card-body h-100 btn colorBtn justify-content-center aling-items-center">
        <h2>Ubicaciones</h2>
      </a>
    </div>
    <div class="col ">
      <a routerLink="/usuarios" class="card card-body h-100 btn colorBtn justify-content-center aling-items-center">
        <h2>Ubicaciones</h2>
      </a>
    </div>
    <div class="col ">
      <a routerLink="/usuarios" class="card card-body h-100 btn colorBtn justify-content-center aling-items-center">
        <h2>Ubicaciones</h2>
      </a>
    </div>
  </div>
   -->