mat-form-field{
  width: 100%;

}
.bordeD{
  border:5px solid var(--color1);
}
.botones{
  padding: 0px ;
}
.row {
  --bs-gutter-x: 0px;
}
button{
  height: 40px;
}
mat-label{
  color:var(--color1);
  font-weight: bold;
  font-size: 20px;
}
mat-form-field{
  background-color: #fff;
}
h1 p{
  color: var(--color1-2);
  font-weight: normal;
}
#divAviso{
  color: var(--color2);
}
h1{
  color: var(--color1);
  user-select: none;
  text-align: center;
}

@media screen and (max-width: 767px) {
  h1,mat-label,.mat-mdc-text-field-wrapper,input{
    font-size: 14px !important;
  }
  i{
    font-size: 20px;
  }
}
