<div class="contenido bordeContenido">
  <div class="row">
    <div class="col-12 d-flex p-0 align-items-center">
      <div class=" col-2 align-items-center">
        <a matTooltip="Regresar" routerLink="../" class=" btn iconoRegresar">
          <i class="bi bi-arrow-left"></i>
        </a>
      </div>
      <div class="col-8 align-items-center text-center">
        <h1 class="text-center titulo">Nuevo Usuario</h1>
      </div>
      <div class="col-2 align-items-end text-end">
        <a matTooltip="Limpiar Formulario" (click)="refresh()" class="iconoRefrescar btn"><i
            class="bi bi-arrow-clockwise"></i></a>
      </div>
    </div>
    <form [formGroup]="usersForm" class="col-12 contenidoForm">
      <div class="card p-0 col-12">
        <div class="card-header text-center fw-bold bg-dark bg-gradient text-light">
          <h3>Datos del Usuario</h3>
        </div>
        <div class="row">
          <div class="col-6 p-0 mt-1">
            <div class="input-group pe-2">
              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
              <input formControlName="txtNombre" type="text" class="form-control" aria-label="Sizing example input"
                placeholder="Nombre" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          <div class="col-6 p-0 mt-1">
            <div class="input-group ps-2">
              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
              <input formControlName="txtApellido" type="text" class="form-control" aria-label="Sizing example input"
                placeholder="Apellido" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          <div class="col-6 p-0 mt-1">
            <div class="input-group pe-2">
              <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
              <input formControlName="txtTelefono" type="text" class="form-control" aria-label="Sizing example input"
                placeholder="Teléfono" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          <div class="col-6 p-0 mt-1">
            <div class="input-group ps-2">
              <span class="input-group-text"><i class="bi bi-person-vcard-fill"></i></span>
              <input formControlName="txtDni" type="text" class="form-control" aria-label="Sizing example input"
                placeholder="Identidad" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          <div class="col-6 p-0 mt-1">
            <div class="input-group pe-2">
              <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
              <input formControlName="txtEmail" type="email" class="form-control" aria-label="Sizing example input"
                placeholder="Correo" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          <div class="col-6 p-0 mt-1">
            <div class="input-group ps-2">
              <span class="input-group-text"><i class="bi bi-person-fill-gear"></i></span>
              <input formControlName="txtContra" type="password" class="form-control" aria-label="Sizing example input"
                placeholder="Ingrese la Contraseña" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          <div class="col-6 p-0 mt-1">
            <div class="input-group pe-2">
              <label class="input-group-text" for="selectTipo"><i class="bi bi-person-fill-gear"></i></label>
              <select formControlName="selectTipo" class="form-select" id="selectTipo">
                <option value="" selected>Tipo de Usuario</option>
                <option *ngFor="let tipo of usuariosTipos" [value]="tipo.id">{{tipo.tipo}}</option>
              </select>
            </div>
          </div>
          <div class="col-6 p-0 mt-1">
            <div class="input-group ps-2">
              <label class="input-group-text" for="select"><i class="bi bi-person-badge-fill"></i></label>
              <select formControlName="selectSexo" class="form-select" id="select">
                <option value="" selected>Sexo</option>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
              </select>
            </div>
          </div>
        </div>
     </div>
      <hr>
      <div class="col-12 row">
        <button routerLink="../" class="col-6 btn btnEliminar">Cancelar</button>
        <button [disabled]="usersForm.invalid" class="col-6 btn btnGuardar" type="button"
          (click)="onSubmit()">Guardar</button>
      </div>
    </form>
  </div>
</div>
