.titulo{
  padding: 0px;
}
.slideForm{
  height: calc(100vh - 270px);
  overflow: scroll;
}
label{
  font-weight: 500;
  font-size: 15px;
}
input:hover{
  border: solid 2px;
  border-color: var(--color1);
}
.icono{
  font-size: 150px;
  color: var(--color1);
}
#sexoLabel{
  padding-right: 10px;
}
button{
  margin-right: 10px;
}
.alineado{
  padding-right: 5px;
  text-align:right;
}
.mar{
  margin-left: 10px;
}
.radio label{
  cursor: pointer;
}
.row{
  margin: 0px;
  padding: 0px;
  height: 100%;
}
/*Pantallas sm*/
@media screen and (max-width:767px) {

  .iconoForm{
    font-size: 10px;
  }
  label{
    font-size: 10px;
  }
  select,input{
    font-size: 10px;
  }

}

/*Pantallas md*/
@media screen and (max-width:991px) {
  .icono{
    font-size: 100px;
  }
  .slideForm{
    height: 90%;
    overflow: none !important;
  }
}
