.row{
  margin: 0px !important;
}
h3{
  font-size: 20px !important;
  margin: 0px;
}
.card{
  border:none !important;
}
.input-group-text{
  background-color:#088ff630 !important;
  border-radius: 0px !important;
  width: 100px !important;
  text-align: center !important;
  display:inline !important;
}
.input-group{
  border-radius: 0px !important;
  margin-top: 5px;
}
.form-control{
  border-radius: 0px !important;
}