<div class="modal fade" id="cargosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{title}}</h1>
        <button (click)="onCancelar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cargosForm" class="row">
          <div class="input-group">
            <span class="input-group-text">Cargo:</span>
            <input formControlName="txtCargo" type="text" class="form-control" aria-label="Sizing example input" placeholder="Ingrese el nombre del Cargo"
              aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" for="inputGroupSelect01">Estado</span>
            <select formControlName="selectEstado" class="form-select" id="inputGroupSelect01">
              <option value="" selected>Seleccione
              </option>
              <option value="true" >Activo</option>
              <option value="false">Inactivo</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onCancelar()">Cancelar</button>
        <button [disabled]="cargosForm.invalid" type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit()">Guardar</button>
      </div>
    </div>
  </div>
</div>
