<div class="contEncuesta">
  <div class="row slideEncuesta">
    <div class="col-12 d-flex">
      <div class="btnRegresar col-2">
        <a routerLink="../" class="text-start iconoRegresar btn"><i class="bi bi-arrow-left"></i></a>
      </div>
      <div class="col-8 align-items-center text-center">
        <h1 class="text-center  titulo">{{title}}</h1>
      </div>
      <div class="col-2 align-items-end text-end">
        <a (click)="limpiarForm()" class="iconoRefrescar btn"><i class="bi bi-arrow-clockwise"></i></a>
      </div>
    </div>
    <div class="encuesta text-center slideEncuesta mt-2">
      <form class="col-12" (ngSubmit)="onSubmit()" [formGroup]="encuestaForm">
        <div class="col-12" id="General">
          <div class="col-12">
            <h2>Información General</h2>
          </div>
          <div class="selects col-12 row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
              <label class="" for="dep">Departamento</label>
              <select class="form-select" formControlName="selectDepartamentos" (change)="departamentosChange($event)">
                <option *ngIf="showDep" value="" selected>
                  <p>Seleccione un Departamento</p>
                </option>
                <option *ngFor="let dep of departamentos" [value]="dep.id_dep">{{dep.id_dep}}. {{dep.dep}}</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
              <label class="" for="dep">Municipio</label>
              <select class="form-select" formControlName="selectMunicipios" (change)="municipiosChange($event)">
                <option *ngIf="showMun"  value="" selected>Seleccione un Municipio</option>
                <option *ngFor="let mun of municipios" [value]="mun.id_mun">{{mun.id_mun}}. {{mun.mun}}</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
              <label class="" for="dep">Aldea</label>
              <select class="form-select" formControlName="selectAldeas" (change)="aldeasChange($event)">
                <option *ngIf="showAldea"  value="" selected>Seleccione una Aldea</option>
                <option *ngFor="let aldea of aldeas" [value]="aldea.id">{{aldea.id}}. {{aldea.aldea}}</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
              <label class="" for="dep">Caserio</label>
              <select class="form-select" formControlName="selectCaserios" (change)="caseriosChange($event)">
                <option *ngIf="showCaserio"  value="" selected>Seleccione un Caserio</option>
                <option *ngFor="let caserio of caserios" [value]="caserio.id">{{caserio.id}}. {{caserio.caserio}}</option>
              </select>
            </div>
            <div class="col-12">
              <h3 id="ubh3" class="mt-4 mb-0 align-items-center"><label for="ubicacion"
                  class="form-label m-0 ">Dirección
                  Detallada</label></h3>
              <textarea class="form-control" id="ubicacion" rows="2" formControlName="txtDireccion" placeholder="Dirreccíon detallada del lugar donde se realiza la reunión"></textarea>
            </div>
            <div class="col-12 mt-3 mb-0 pb-0">
              <h3 class="pb-0 mb-0">Seleccione la Organización que Realiza la Reunión</h3>
            </div>
            <div class="col-12">
              <select class="form-select" style="background-color: #009eb618;" formControlName="selectOrganizacion">
                <option value="" selected>Seleccione una Organización</option>
                <option *ngFor="let org of organizaciones" [value]="org.id">{{org.org}}</option>
              </select>
            </div>
          </div>
          <div class="textbox col-12 row">
            <div class="col-12">
              <h3>Total de Asistencia</h3>
            </div>
            <div class="padForm">
              <div class="col-12 row p-0">
                <div class="col-xl-4 col-lg-6 col-md-12 p-0">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="txtTotalHombres">Hombres</span>
                    <input
                      type="number" class="form-control" aria-label="Sizing example input"
                      aria-describedby="txtTotalHombres" name="txtTotalHombres" formControlName="txtTotalHombres" (change)="hombresChange($event)" placeholder="0">
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 p-0">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Mujeres</span>
                    <input
                      type="number" class="form-control" aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default" formControlName="txtTotalMujeres" (change)="mujeresChange($event)" placeholder="0">
                  </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 p-0">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Total</span>
                    <input  type="number" class="form-control"
                      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="txtTotalAsistencia" placeholder="0" readonly>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <h3>GeoUbicación</h3>
            </div>
            <div class="padForm mb-3">
              <div class="col-12 row d-flex align-items-center">
                <div class="col-xl-4 col-lg-4 col-md-12 p-0">
                  <button type="button" class="btnGuardar form-control" (click)="obtenerCoordenadas()" >Obtener Coordenadas</button>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 p-0">
                  <div class="input-group ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Latitud</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default" formControlName="txtLatitud">
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 p-0">
                  <div class="input-group ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Longitud</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default" formControlName="txtLongitud">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" id="Recursos">
          <div class="col-12 mb-2">
            <h2>Recursos Naturales</h2>
          </div>
          <div class="col-12 row">
            <div class="col-xl-6 col-lg-12 mt-2 mb-0">
              <h3 class="mb-0"><label for="rios">Ríos</label></h3>
              <div class="p-0 m-0 d-flex conTabla">
                <div class="col-6 m-0 p-0">
                  <div class="input-group mb-0 p-0 m-0">
                    <span class="input-group-text" for="inputGroupSelect01">¿Hay Ríos?</span>
                    <select class="form-select" id="inputGroupSelect01" formControlName="selectRios">
                      <option value="1" selected>No</option>
                      <option value="2">Si</option>
                    </select>
                  </div>
                </div>
                <div class="col-6 m-0 p-0 textbox">
                  <div class="input-group mb-3 p-0 m-0">
                    <span class="input-group-text" id="basic-addon1">Cantidad</span>
                    <input  type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1" formControlName="txtCantidadRios">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-12 mt-lg-2 mt-sm-0 ">
              <h3 class="mb-0"><label for="rios">Bosques</label></h3>
              <div class="p-0 m-0 conTabla d-flex">
                <div class="col-6 m-0 p-0">
                  <div class="input-group p-0 m-0">
                    <span class="input-group-text" for="inputGroupSelect01">¿Hay Bosques?</span>
                    <select class="form-select" id="inputGroupSelect01" formControlName="selectBosques">
                      <option value="1">No</option>
                      <option value="2">Si</option>
                    </select>
                  </div>
                </div>
                <div class="col-6 m-0 p-0">
                  <div class="input-group p-0 m-0">
                    <span class="input-group-text" for="inputGroupSelect01">Tipo de Bosque</span>
                    <select class="form-select" id="inputGroupSelect01" formControlName="selectTipoBosque">
                      <option value="1" selected>Seleccione</option>
                      <option *ngFor="let bosque of bosques" value={{bosque.id}}>{{bosque.tipo}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3 mt-xl-0">
              <h3 class="m-0">Suelos</h3>
            </div>
            <div class="col-12 rnSuelo">
              <div class=" input-group mb-3 p-0">
                <label class="input-group-text" for="inputGroupSelect01">Seleccione el Tipo de Suelo</label>
                <select class="form-select text-center" id="inputGroupSelect01" formControlName="selectTiposSuelos">
                  <option value="">Seleccione Un tipo de Suelo</option>
                  <option *ngFor="let suelo of suelos" [value]="suelo.id">{{suelo.tipo}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" id="Recursos">
          <div class="col-12 mb-2">
            <h2>Organizaciones Sociales Productivas</h2>
          </div>
          <div class="selects col-12 row align-items-center">
            <div class="col-10">
              <label class="" for="dep">Seleccione una Organización</label>
              <select class="form-select" formControlName="selectOrgSocial">
                <option value="">Selectione</option>
                <option *ngFor="let social of sociales" [value]="social.id">{{social.org}}</option>
              </select>
            </div>
            <div class="col-2 btnHeight">
              <a class="btn btnGuardar "><div> Agregar</div></a>
            </div>
            <div class="col-12 mt-3">
              <textarea class="form-control" id="ubicacion" rows="2" formControlName="txtOrgSociales"></textarea>
            </div>
          </div>
        </div>
        <div class="mt-5 mb-2 d-flex">
          <button routerLink="../" class="btn form-control btnEliminar mx-1" type="button">Cancelar</button>
          <button class="btn form-control btnGuardar mx-1" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
