/*Encabezados*/
.DatosGenerales {
  background-color: #fff;
}
/*Botones de Regresar y Refrescar*/
.iconoRegresar i {
  color: var(--btn3);
  border: 1px solid var(--btn3);
  font-size: 25px;
  font-weight: bold;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.iconoRefrescar i {
  color: var(--btn2);
  border: 1px solid var(--btn2);
  font-size: 25px;
  font-weight: bold;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.iconoRegresar i:hover {
  color: white;
  background-color: var(--btn3);
}
.iconoRefrescar i:hover {
  color: white;
  background-color: var(--btn2);
}
.row {
  --bs-gutter-x: 0px !important;
}
/*Selects*/
mat-form-field {
  border: none;
  border-radius: 0px;
}
mat-label,
mat-select,
mat-option {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .iconoRegresar i,
  .iconoRefrescar i {
    font-size: 10px;
  }
  mat-label,mat-select,mat-option{
    font-size: 12px;
  }
  mat-form-field{
    padding: 0px;
  }
}
/*Pantallas md*/
@media screen and (max-width: 991px) {
  .iconoRegresar i,
  .iconoRefrescar i {
    font-size: 10px;
  }
}
