/*Encabezados*/
.contenidoE {
  height: calc(100vh - 120px);
  overflow-y: scroll;
  padding: 10px;
}

#Formulario {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
}
.btnEliminarItem {
  color: var(--color2);
  cursor: pointer;
  font-size: 40px;
}
::ng-deep .mat-vertical-content {
  padding: 0px 10px 0px 0px !important;
}
.encabezado {
  text-align: center;
  background-color: #aadbff;
  padding: 5px 0px;
  margin-bottom: 5px;
}
.encabezado h1 {
  margin: 0px;
  font-weight: bold;
  color: #616161c8;
}
/*Botones de Regresar y Refrescar*/
.iconoRegresar i {
  color: var(--btn3);
  border: 1px solid var(--btn3);
  font-size: 25px;
  font-weight: bold;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.iconoRefrescar i {
  color: var(--btn2);
  border: 1px solid var(--btn2);
  font-size: 25px;
  font-weight: bold;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.checkOrg:checked {
  background-color: var(--color1) !important;
}
.iconoRegresar i:hover {
  color: white;
  background-color: var(--btn3);
}
.iconoRefrescar i:hover {
  color: white;
  background-color: var(--btn2);
}
#h2 {
  font-size: 20px;
  font-weight: bold;
}
h3 {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin: 0px;
}

/*Selects*/
mat-form-field {
  border: none;
  border-radius: 0px;
}
.botonColor {
  background-color: var(--color1);
}
mat-label,
mat-select,
mat-option {
  font-size: 18px;
}
mat-label {
  color: var(--color1) !important;
  font-weight: bold !important;
}
.botonLocation2 {
  display: none;
}
.borde {
  background-color: #efffff;
  border: 3px solid #aadbff;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.borde2 {
  background-color: #fff;
  border: 3px solid #aadbff;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
h2 {
  margin: 0px;
  color: #616161c8;
}
::ng-deep .mat-step-header,.mat-step-header:hover{
  background-color: #aadbff !important;
  font-size: 20px !important;
}
#h1{
  margin: 0px;
  font-size: 20px;
  width: 100%;
}
span{
  font-size: 20px !important;
}
.btnEliminar,
.btnGuardar {
  height: 60px;
}
.btnSize {
  font-size: 20px !important;
}
@media screen and (max-width: 767px) {
  #h1{
    font-size: 15px !important;
  }
  .btnEliminarItem {
    font-size: 15px;
  }
  .btnEliminar,
  .btnGuardar {
    height: 40px;
  }
  h2 {
    font-size: 12px;
  }
  .tamaño {
    width: 36px;
    height: 36px;
    align-items: center !important;
    justify-content: center !important;
  }
  .botonLocation1 {
    display: none;
  }
  .botonLocation2 {
    display: flex;
  }
  .tamañoIcon {
    align-items: center !important;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
  }
  .contenidoE {
    height: calc(100vh - 80px);
  }
  .iconoRegresar i,
  .iconoRefrescar i {
    font-size: 10px;
  }
  mat-label,
  mat-select,
  mat-option {
    font-size: 12px;
  }
  mat-form-field {
    padding: 0px;
  }
  .encabezado h1 {
    font-size: 15px;
  }
  h3 {
    font-size: 12px;
  }
  ::placeholder {
    font-size: 10px;
  }
  select {
    font-size: 10px;
  }
  option {
    font-size: 10px;
  }
  .btnSize {
    font-size: 15px !important;
  }
}
/*Pantallas md*/
@media screen and (max-width: 991px) {
  .iconoRegresar i,
  .iconoRefrescar i {
    font-size: 10px;
  }
  .btnEliminarItem {
    font-size: 25px;
  }
}
