<div class="cont">
  <div class="login-container row">
    <div class="col-12 col-md-6 text-center">
      <img class="imgLogo" src="../../../../../assets/img/logo.png" alt="logo">
    </div>
    <div class="col-12 col-md-6">
      <h2>Inicio de Sesión</h2>
      <form (ngSubmit)="sendLogin()" [formGroup]="formLogin">
        <div class="form-group">
          <label for="username">Username:</label>
          <input formControlName="email" type="text" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input formControlName="password" type="password" id="password" name="password">
          <a routerLink="recuperar">¿Olvido su contraseña?</a>
        </div>
        <button [disabled]="formLogin.invalid" type="submit" class="btn btn-primary form-control">Acceder</button>
      </form>
    </div>
  </div>
</div>
