<div class="cont">
  <div class="login-container row">
    <div class="col-12 col-md-6 text-center">
      <img class="imgLogo" src="../../../../../assets/img/logo.png" alt="logo">
    </div>
    <div class="col-12 col-md-6">
      <h2>Inicio de Sesión</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
          <a routerLink="recuperar">¿Olvido su contraseña?</a>
        </div>
        <button type="submit" class="btn btn-primary form-control">Login</button>
      </form>
    </div>
  </div>
</div>
