<div class="contenido bordeContenido">
  <div class="headerListar">
    <div class="row mb-2 align-items-center ">
      <div class="col-12 d-flex p-0 align-items-center">
        <div class="col-2 align-items-center p-0">
          <a routerLink="../" class="text-start iconoRegresar btn p-0"><i class="bi bi-arrow-left"></i></a>
        </div>
        <div class="col-8 align-items-center text-center">
          <h1 class="text-center  titulo">DNI Junta Directiva</h1>
        </div>
        <div class="col-2 align-items-end text-end">
          <a class="iconoRefrescar btn p-0"><i class="bi bi-arrow-clockwise"></i></a>
        </div>
      </div>
      <div class="col-12 p-0 text-bold text-center text-sm-center text-md-center text-lg-end btnPrincipal">
        <div class="input-group mt-2 mb-2 inpBuscar">
          <label for="bus" class="input-group-text form-control"><i class="bi bi-search"></i>
            <input name="bus" type="search" class="form-control btn" placeholder="Buscar DNI" (input)="buscarTabla()">
          </label>
        </div>
      </div>
    </div>
  </div>
</div>