<div class="contenido">
  <div class="headerListar">
    <div class="row mb-2 align-items-center ">
      <div class="col-12 d-flex p-0 align-items-center">
        <div class="col-2 align-items-center p-0">
          <a routerLink="../" class="text-start iconoRegresar btn p-0"><i class="bi bi-arrow-left"></i></a>
        </div>
        <div class="col-8 align-items-center text-center">
          <h1 class="text-center  titulo">Actas de Compromiso</h1>
        </div>
        <div class="col-2 align-items-end text-end">
          <a (click)="obtenerActas()" class="iconoRefrescar btn p-0"><i class="bi bi-arrow-clockwise"></i></a>
        </div>
      </div>
      <div class="col-12 p-0 text-bold text-center text-sm-center text-md-center text-lg-end btnPrincipal">
        <div class="input-group mt-2 mb-2 inpBuscar">
          <label for="bus" class="input-group-text form-control"><i class="bi bi-search"></i>
            <input name="bus" type="search" class="form-control btn" placeholder="Buscar Acta" [(ngModel)]="txtBusqueda" (input)="buscarTabla()">
          </label>
        </div>
      </div>
      <div class="col-6 mx-0 px-0">
        <mat-form-field appearance="outline" class="form-control">
          <mat-label>Departamento</mat-label>
          <mat-select #selDep (valueChange)="changeDep()">
            <mat-option disabled value="">Seleccione</mat-option>
            <mat-option *ngFor="let element of departamentos" [value]="element.id_dep">
              {{element.dep}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6 mx-0 px-0">
        <mat-form-field appearance="outline" class="form-control">
          <mat-label>Municipios</mat-label>
          <mat-select #selMun (valueChange)="changeMun()">
            <mat-option disabled value="">Seleccione</mat-option>
            <mat-option *ngFor="let element of municipios" [value]="element.id_mun">
              {{element.mun}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <div class=" table-responsive">
      <table mat-table [dataSource]="dataSource" class="tabla">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell class="sizeCulum" *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell class="sizeCulum" *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let element" class="options-a">
              <div class="text-center">
                <a *ngIf="showOption(element.id)" (click)="getDocumento(element.uid)" matTooltip="Ver PDF" matTooltipPosition="above" class="botonDesactivarTabla"
                  ><i class="bi bi-file-pdf-fill"></i></a>
              </div>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="dep">
          <th mat-header-cell class="sizeCulum" *matHeaderCellDef> Departamento </th>
          <td mat-cell *matCellDef="let element"> {{element.dep}} </td>
        </ng-container>
        <ng-container matColumnDef="mun">
          <th mat-header-cell class="sizeCulum" *matHeaderCellDef> Municipio </th>
          <td mat-cell *matCellDef="let element"> {{element.mun}} </td>
        </ng-container>
        <ng-container matColumnDef="aldea">
          <th mat-header-cell class="sizeCulum" *matHeaderCellDef> Aldea </th>
          <td mat-cell *matCellDef="let element"> {{element.aldea}} </td>
        </ng-container>

        <ng-container matColumnDef="caserio">
          <th mat-header-cell class="sizeCulum" *matHeaderCellDef> Caserio </th>
          <td mat-cell *matCellDef="let element"> {{element.caserio}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="seleccione">
    </mat-paginator>
  </div>
</div>