<mat-sidenav-container autosize class="contenido bordeContenido">
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded; cambio()" class="text-center menu">
        <mat-icon mat-list-icon class="chevron-button"><i class="bi bi-list"></i></mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="false" routerLink="usuarios/miuser" [matTooltip]="btn1" matTooltipPosition="right">
        <div class="align-items-center d-flex">
          <mat-icon mat-list-icon class="menu-item justify-content-center"><i class="bi bi-person-circle"
              style="color: #041401;"></i></mat-icon>
          <span *ngIf="isExpanded">Mi Usuario</span>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="mostrar" routerLink="usuarios" [matTooltip]="btn2" matTooltipPosition="right">
        <div class="align-items-center d-flex">
          <mat-icon mat-list-icon class="menu-item"><i class="bi bi-people-fill mr-2 lead"
              style="color:purple;"></i></mat-icon>
          <span *ngIf="isExpanded">Usuarios</span>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="mostrar" routerLink="/encuestas" [matTooltip]="btn3" matTooltipPosition="right">
        <div class="align-items-center d-flex">
          <mat-icon mat-list-icon class="menu-item col-6"><i class="bi bi-clipboard2-check-fill mr-2 lead"
              style="color:darkgreen;"></i></mat-icon>
          <span *ngIf="isExpanded" class="col-6">Encuestas</span>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="!mostrar" routerLink="/encuestas/formato" [matTooltip]="btn3" matTooltipPosition="right">
        <div class="align-items-center d-flex">
          <mat-icon mat-list-icon class="menu-item col-6"><i class="bi bi-clipboard2-plus-fill mr-2 lead"
              style="color:darkgreen;"></i></mat-icon>
          <span *ngIf="isExpanded" class="col-6">Encuestas</span>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="false" routerLink="/dashboard" [matTooltip]="btn4" matTooltipPosition="right">
        <div class="align-items-center d-flex">
          <mat-icon mat-list-icon class="menu-item"><i class="bi bi-columns-gap mr-2 lead"
              style="color:chocolate;"></i></mat-icon>
          <span *ngIf="isExpanded">Dashboard</span>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="mostrar" routerLink="/administrar" [matTooltip]="btn5" matTooltipPosition="right">
        <div class="align-items-center d-flex">
          <mat-icon mat-list-icon class="menu-item"><i class="bi bi-gear-fill mr-2 lead"
              style="color:darkred;"></i></mat-icon>
          <span *ngIf="isExpanded">Administrar</span>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="false" routerLink="/" [matTooltip]="btn6" matTooltipPosition="right">
        <div class="align-items-center d-flex">
          <mat-icon mat-list-icon class="menu-item"><i class="bi bi-clipboard2-data-fill mr-2 lead"
              style="color:darkblue;"></i></mat-icon>
          <span *ngIf="isExpanded">Exportar</span>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="!mostrar" routerLink="/encuestas/user" [matTooltip]="btn8" matTooltipPosition="right">
        <div class="align-items-center d-flex">
          <mat-icon mat-list-icon class="menu-item"><i style="color:#5e0be3" class="bi bi-clipboard2-data-fill  mr-2 lead"></i></mat-icon>
          <span *ngIf="isExpanded">Mis Encuestas</span>
        </div>
      </mat-list-item>
      
      <mat-list-item (click)="cerrarSesion()" class="botonCerrar" [matTooltip]="btn7" matTooltipPosition="right">
        <div class="align-items-center d-flex">
          <mat-icon mat-list-icon class="menu-item"><i class="bi bi-power" style="color:white;"></i></mat-icon>
          <span *ngIf="isExpanded">Cerrar Sesión</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <div class="row pad">
  <div class="col-lg-3 col-sm-12">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-lg-9 col-sm-12 justify-content-center">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</div> -->