.imgHeader{
  padding: 0px;
}
.imgHeader img{
  width: 100px;
}
.header{
  padding: 10px 40px;
  background-color: #fff;
  transition: all 0.2s ease;
}
/*Pantallas xs*/
@media screen and (max-width: 575px) {
  .imgHeader img{
    width: 60px;
  }
}
/*Pantallas sm*/
@media screen and (max-width: 767px) {



}
/*Pantallas md*/
@media screen and (max-width: 991px) {
  .header{
    padding: 10px 15px 0px 15px;
    background-color: #fff;
    border-bottom: 0.4px groove #71c4cf53;
  }
  .imgHeader{
    padding: 0px 5px;
  }
}
@media screen and (max-width: 1200px) {

}
