.imgHeader{
  padding: 0px;
}
.imgHeader img{
  width: 100px;
}
.header{
  padding: 10px 40px;
  background-color: #fff;
  transition: all 0.2s ease;
}

/*Pantallas sm*/
@media screen and (max-width: 767px) {
  .imgHeader img{
    width: 70px;
  }
}
/*Pantallas md*/
@media screen and (max-width: 991px) {
  .header{
    padding: 10px 15px 0px 15px;
    background-color: #fff;
    border-bottom: 0.4px groove #71c4cf53;
  }
  .imgHeader{
    padding: 0px 5px;
  }
}