#a1 {
  padding-right: 5px;
  padding-left: 0px;
}
#a2 {
  padding-right: 5px;
  padding-left: 5px;
}
#a3 {
  padding-left: 5px;
  padding-right: 0px;
}
.row {
  --bs-gutter-x: 0px !important;
}
.botones{
  height: 100%;
}
.botones a, .botones span, .botones li{
  color:aqua;
}

/*Pantallas lg*/
@media screen and (max-width: 1200px) {
  #a1,
  #a2,
  #a3 {
    padding: 2px 5px 2px 5px;
  }
}
