<div class="contenido bordeContenido">
  <div class="headerListar">
    <div class="row mb-2 align-items-center ">
      <div class="col-12 text-center">
        <h1 class="titulo">Usuarios</h1>
      </div>
      <div id="a1" class="col-xl-3 col-xxl-2 col-lg-6 col-md-6">
        <a routerLink="agregar" class="btn btnEditar form-control"><i class="bi bi-person-plus-fill"></i>Nuevo
          Usuario</a>
      </div>

      <div id="a2" class="col-xl-4 col-xxl-3 col-lg-6 col-md-6">
        <a routerLink="desactivados" class="btn btnEliminar form-control"><i class="bi bi-person-x-fill"></i>Usuarios
          Desactivados</a>
      </div>
      <div id="a3"
        class="col-xl-5 col-xxl-7 col-lg-12 col-md-12 text-bold text-center text-sm-center text-md-center text-lg-end btnPrincipal">
        <div class="input-group mt-2 mb-2 inpBuscar">
          <label for="filterUsers" class="input-group-text form-control"><i class="bi bi-search"></i>
            <input name="filterUsers" type="text" class="form-control btn" placeholder="Buscar Usuario">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8 table-responsive">
    <table mat-table [dataSource]="dataSource" class="tabla">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element" class="">
          <a class="botonEditarTabla"><i class="bi bi-pencil-square"></i></a>
          <a class="botonDesactivarTabla"><i class="bi bi-trash3-fill"> </i></a>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef> Identidad </th>
        <td mat-cell *matCellDef="let element" class="fw-bold"> <a routerLink="" style="color:var(--color1);">{{element.dni}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="creado">
        <th mat-header-cell *matHeaderCellDef> Creado </th>
        <td mat-cell *matCellDef="let element">{{element.creado}}</td>
      </ng-container>
      <ng-container matColumnDef="actualizado">
        <th mat-header-cell *matHeaderCellDef> Actualizado </th>
        <td mat-cell *matCellDef="let element"> {{element.cambio}}</td>
      </ng-container>
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>
      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="seleccione">
    </mat-paginator>
  </div>
  <!-- <div class="tabla table-responsive">
    <table class="table ">
      <thead class="table-dark align-middle">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Opciones</th>
          <th scope="col" style="min-width: 250px;">Nombre Completo</th>
          <th scope="col" style="min-width: 150px;">Teléfono</th>
          <th scope="col">Identidad</th>
          <th scope="col">Correo</th>
          <th scope="col" style="min-width: 150px;">Creado</th>
          <th scope="col" style="min-width: 150px;">Actualizado</th>
          <th scope="col">Tipo</th>
          <th scope="col">Estado</th>
          <th scope="col">Sexo</th>
        </tr>
      </thead>
      <tbody>
        <tr id="body" *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 2, currentPage: page }"
          class="align-middle text-center">
          <th scope="row" class="text-center"><strong>{{usuario.id}}</strong></th>
          <td>
            <div class=" d-grid mt-1 pb-1">
              <a class="form-control btn btnEditar">Editar</a>
            </div>
            <div class=" d-grid pb-1">
              <a class="form-control btn btnGuardar">Asignar</a>
            </div>
            <div class=" d-grid mb-1">
              <a class="form-control btn btnEliminar">Desactivar</a>
            </div>
          </td>
          <td>{{usuario.name}}</td>
          <td>{{usuario.tel}}</td>
          <td><a routerLink=":dni">{{usuario.dni}}</a></td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.creado}}</td>
          <td>{{usuario.cambio}}</td>
          <td>{{usuario.tipo}}</td>
          <td class="text-info fw-bold">{{usuario.estado}}</td>
          <td>{{usuario.sexo}}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12 align-items-center justify-content-center d-flex botones">
      <pagination-controls (pageChange)="page=$event" previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>
    </div>
  </div> -->
</div>
