<div class="contenido bordeContenido">
  <div class="headerListar">
    <div class="row mb-2 align-items-center ">
      <div class="col-12 d-flex p-0 align-items-center">
        <div class=" col-2 align-items-center">
          <a routerLink="../" class="text-start iconoRegresar btn p-0"><i class="bi bi-arrow-left"></i></a>
        </div>
        <div class="col-8 align-items-center text-center">
          <h1 class="text-center  titulo">Usuarios Activos</h1>
        </div>
        <div class="col-2 align-items-end text-end">
          <a (click)="obtenerUsers()" class="iconoRefrescar btn p-0"><i class="bi bi-arrow-clockwise"></i></a>
        </div>
      </div>
      <div class="col-6 col-md-3 pe-md-3 pe-0">
        <a routerLink="agregar" class="btn btnEditar form-control"><i class="bi bi-person-plus-fill"></i>Nuevo
          Usuario</a>
      </div>

      <div class="col-6 col-md-3 pe-md-3 pe-0">
        <a routerLink="desactivados" class="btn btnEliminar form-control"><i class="bi bi-person-x-fill"></i>Usuarios
          Desactivados</a>
      </div>
      <div class="col-6 col-md-6 text-bold text-center text-sm-center text-md-center text-lg-end btnPrincipal">
        <div class="input-group mt-2 mb-2 inpBuscar">
          <label for="filterUsers" class="input-group-text form-control"><i class="bi bi-search"></i>
            <input name="filterUsers" type="text" class="form-control btn" placeholder="Buscar Usuario">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <div class=" table-responsive">
      <table mat-table [dataSource]="dataSource" class="tabla">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let element" class="options-a">
            <div class="row d-flex">
              <div class="col-12">
                <a matTooltip="Editar" matTooltipPosition="above" class="botonEditarTabla"
                  [routerLink]="['editar',element.id]"><i class="bi bi-pencil-square"></i></a>
                <a matTooltip="Asignaciones" matTooltipPosition="above" class="botonGuardarTabla"
                  [routerLink]="['editar',element.id]"><i class="bi bi-geo-alt-fill"></i></a>
              </div>
              <div class="col-12 pt-3">
                <a matTooltip="Desactivar" matTooltipPosition="above" class="botonDesactivarTabla"
                  (click)="desactivar(element.id)"><i class="bi bi-trash3-fill"> </i></a>
                <a matTooltip="Restablecer Contraseña" matTooltipPosition="above" class="botonCambiarTabla"
                  (click)="restablecer(element.id)"><i class="bi bi-shield-lock-fill"></i></a>
              </div>
            </div>
          </td>

        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="tel">
          <th mat-header-cell *matHeaderCellDef> Teléfono </th>
          <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef> Identidad </th>
          <td mat-cell *matCellDef="let element" class="fw-bold"> <a routerLink=""
              style="color:var(--color1);">{{element.dni}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Correo </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="creado">
          <th mat-header-cell *matHeaderCellDef> Creado </th>
          <td mat-cell *matCellDef="let element">{{element.creado}}</td>
        </ng-container>
        <ng-container matColumnDef="actualizado">
          <th mat-header-cell *matHeaderCellDef> Actualizado </th>
          <td mat-cell *matCellDef="let element"> {{element.cambio}}</td>
        </ng-container>
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="sexo">
          <th mat-header-cell *matHeaderCellDef> Sexo </th>
          <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="seleccione">
    </mat-paginator>
  </div>
</div>
