.padT{
  padding-left: 0px;
}
.iconoRegresar i{
  color: var(--btn3);
  border: 1px solid var(--btn3);
  font-size: 25px;
  font-weight: bold;
  border-radius: 40px;
  padding: 5px;
}
.iconoRegresar i:hover{
  color:white;
  background-color: var(--btn3);
}
/*Pantallas md*/
@media screen and (max-width: 991px) {
  .iconoRegresar i{
    font-size: 15px !important;
  }
}
@media screen and (max-width: 1200px) {
  .iconoRegresar i{
    font-size: 20px;
  }
}
