.row {
  --bs-gutter-x: 0px;
}
h1{
  margin-top: 5px;
  width: 100%;
}
.iconoRegresar i {
  color: var(--btn3) !important;
  border: 1px solid var(--btn3) !important;
  font-size: 25px;
  font-weight: bold;
  border-radius: 100%;
  padding: 5px;
  cursor:pointer;
}
.iconoRefrescar i {
  color: var(--btn2) !important;
  border: 1px solid var(--btn2) !important;
  font-size: 25px;
  font-weight: bold;
  border-radius: 100%;
  padding: 5px;
  cursor:pointer;
}
.iconoRegresar i:hover {
  color: #fff !important;
  background-color: var(--btn3) !important;
}
.iconoRefrescar i:hover {
  color: #fff !important;
  background-color: var(--btn2) !important;
}
