mat-form-field{
  width: 100%;

}
.bordeD{
  border:5px solid var(--color1);
}
.botones{
  padding: 0px ;
}
.row {
  --bs-gutter-x: 0px;
}
button{
  height: 40px;
}
mat-label{
  color:var(--color1) !important;
  font-weight: bold !important;
}
mat-form-field{
  background-color: #fff;
}
.color1{
  color: var(--color1) !important;
}
.color2{
  color: var(--color2) !important;
}
.h1Desactivar, .h1Desactivar p{
  font-size: 20px;
  font-weight: bold;
}
