<div mat-dialog-content [ngClass]="bordeModal">
  <div mat-dialog-actions>
    <div class="row d-flex align-items-center">
      <div class="col-12">
        <h1 class="iconTitle w-100" [ngClass]="colorTitle">{{titulo}}</h1>
      </div>
      <div class="col-10">{{cuerpo}}</div>
      <div class="col-2 text-center iconSize">
        <i [ngClass]="iconoContent"></i>
      </div>
    </div>
    <div class="row mt-3 d-flex w-100 ">
      <div class="col-8"></div>
      <div class="col-4">
        <button class="btnGuardar form-control me-1" (click)="onClickNo()">Ok</button>
      </div>
    </div>
  </div>
</div>