<div mat-dialog-content [ngClass]="bordeModal">
  <div mat-dialog-actions>
    <div class="col-12" [ngClass]="colorTitle">
      <h1 class="iconTitle w-100 fw-bold">{{titulo}}</h1>
    </div>
    <div class="row cuerpo align-items-center">
      <div class="col-10"><p>{{cuerpo}}</p></div>
      <div *ngIf="tipo" class="col-10"><p>{{cuerpo2}}</p></div>
      <div class="col-2 text-center iconSize">
        <i [ngClass]="iconoContent"></i>
      </div>
    </div>
    <div class="row mt-3 d-flex w-100 ">
      <div class="col-8"></div>
      <div class="col-4">
        <button class="form-control me-1" [ngClass]="botonClass" (click)="onClickNo()">Ok</button>
      </div>
    </div>
  </div>
</div>