<div class="contenido bordeContenido">
  <div class="headerListar pt-3">
    <div class="mb-2 align-items-center row">
      <div class="col-12 d-flex padT align-items-center">
        <div class=" col-lg-2 col-xl-2">
          <a routerLink="../" class="text-start iconoRegresar btn"><i class="bi bi-arrow-left"></i></a>
        </div>
        <h1 class="col-10 text-center titulo ">Tipos de Tenencia de las Tierras Desactivados</h1>
      </div>
      <div class="col-12 text-bold text-center text-sm-center text-md-center text-lg-end btnPrincipal">
        <div class="input-group mt-2 mb-2 inpBuscar">
          <label for="bus" class="input-group-text form-control"><i class="bi bi-search"></i>
            <input name="bus" type="text" class="form-control btn" placeholder="Buscar una Tenencia de la Tierra">
          </label>
        </div>
      </div>
    </div>
  </div>

</div>
