<div class="contenido bordeContenido">
  <div class="headerListar">
    <div class="row mb-2 align-items-center ">
      <div class="col-12 d-flex padT align-items-center">
        <div class=" col-2">
          <a routerLink="../../" class="text-start iconoRegresar btn"><i class="bi bi-arrow-left"></i></a>
        </div>
        <h1 class="text-center col-10 titulo">Tipos de Tenencia de las Tierras Desactivados</h1>
      </div>
      <div class="col-xl-3 col-xxl-2 col-lg-6 col-md-6">
        <a routerLink="agregar" class="btn btnEditar form-control"><i class="bi bi-person-plus-fill"></i>Nueva Tenencia de la Tierra</a>
      </div>

      <div class="col-xl-4 col-xxl-3 col-lg-6 col-md-6 pt-lg-0 pt-md-0 pt-sm-2 pt-2">
        <a routerLink="desactivados" class="btn btnEliminar form-control"><i class="bi bi-person-x-fill"></i>Tenencia de las <br>  Tierras Desactivados</a>
      </div>
      <div
        class="col-xl-5 col-xxl-7 col-lg-12 col-md-12 text-bold text-center text-sm-center text-md-center text-lg-end btnPrincipal">
        <div class="input-group mt-2 mb-2 inpBuscar">
          <label for="bus" class="input-group-text form-control"><i class="bi bi-search"></i>
            <input name="bus" type="text" class="form-control btn" placeholder="Buscar una Tenencia de la Tierra">
          </label>
        </div>
      </div>
    </div>
  </div>

</div>

