<nav class="nav-background bordeNavbar ">
  <a class="contenedorImagen backgroundImg" routerLink="/">
    <img clas="imagen" src="assets/img/logo.png" class="d-inline-block align-content-center" alt="Logo">
  </a>
  <div>
    <button class="bottonNav">
      <i class="bi bi-list"></i>
    </button>
    <div class="d-sm-none d-none d-lg-block">
      <a class="nav-enlace" routerLink="/usuarios">
        <h2><i class="bi bi-people-fill navIcono" style="color:purple;"></i>Usuarios</h2>
      </a>
      <a class="nav-enlace" routerLink="/login">
        <h2><i class="bi bi-graph-up navIcono"></i>Login</h2>
      </a>
      <a class="nav-enlace" routerLink="/login">
        <h2><i class="bi bi-columns-gap navIcono" style="color:chocolate;"></i>Dashboard</h2>
      </a>
      <a class="nav-enlace" routerLink="/encuestas">
        <h2><i class="bi bi-clipboard2-check-fill navIcono" style="color:darkgreen;"></i>Encuesta</h2>
      </a>
      <a class="nav-enlace" routerLink="/administrar">
        <h2><i class="bi bi-gear-fill navIcono" style="color:darkred;"></i>Administrar</h2>
      </a>
      <button class="form-control btnEliminar cerrar mt-2"> Cerrar Sesión </button>

    </div>
  </div>

</nav>
