.nav-enlace {
  display: flex;
  border-bottom: 1px solid #ffffff1a;
  padding-left: 10px;
}
h2 {
  color: #000;
  font-size: 15px;
  margin: 0px;
  align-self: center;
}
.backgroundImg {
  background-color: var(--color1);
  padding: 10px, 10px;
  border: 10px solid var(--color1);
  border-radius: 30px;
}
.backgroundImg img{
  width: 100px;
  margin: 0px;
}
.backgroundImg:hover {
  background-color: #56ebffea;
  border: 10px solid #56ebffea;

}
.cerrar{
  padding: 10px 0px;
}
.nav-background {
  background-color: #fff;
  height: 100%;
}
.nav-enlace:hover {
  background-color: #56ebffea;
}
a{
  text-decoration: none;
  cursor:pointer;
}
a i {
  text-decoration: none;
  font-size: 20px;
}
nav {
  display: block;
}
nav a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.bottonNav{
  background: var(--color1);
  border: 2px solid #fff;
  display: none;
}
.bordeNavbar {
  border-radius: 40px;
}
.navIcono{
  font-size: 1.2rem;
  margin-right: 20px;
  margin-left: 10px;
  align-self: center;
  padding-bottom:0px;
  font-weight: bold;
}

/*Pantallas sm*/
@media screen and (max-width:767px) {
  a h2{
    font-size: 10px;
  }
  a i {
    font-size: 10px;
  }
  .backgroundImg {
    padding: 0px, 10px !important;
  }
  .backgroundImg img{
    width: 50px;
  }
}
/*Pantallas md*/
@media screen and (max-width:991px) {
  nav {
    flex-direction: column;
    display: flex;
  }
  *{
    margin: 0px;
    padding: 0px;
  }
  .bottonNav{
    background: var(--color1);
    border: 2px solid #fff;
    display:inline-block;
  }
  .backgroundImg {
    border-radius: 0px;
  }
  .bordeNavbar {
    border-radius: 0px;
  }
}
