.cuerpo {
  display: grid;
  overflow: hidden;
  height: 100%;
  font-weight: bold;
  background-color: #fff;
  border-radius: 40px;
}
.btnEliminar {
  padding: 5px;
}
.cuerpo a {
  color: #000;
}
.logo {
  cursor: pointer;
  background-color: var(--color1);
}
#sidebar-container .logo {
  padding: 0.875rem 1.25rem;
}
#sidebar-container button {
  display: flex;
  align-items: flex-end;
}
#sidebar-container .menu {
  z-index: 999;
  width: 100%;
  align-items: center;
}

i {
  margin-right: 10px !important;
}
a:hover,
.logo:hover {
  background-color: #56ebffea;
}
#imgLogo {
  width: 100px;
}
.chekBtn i {
  font-size: 30px;
  color: #000;
  cursor: pointer;
}
.chekBtn {
  float: right;
  display: none;
  margin: 0px;
  padding: 0px 10px 0px 0px;
  height: 100%;
  align-items: center;
}
#check {
  display: none;
}
.btnEliminar{
  text-align: center;
  align-self: flex-end !important;
  font-weight: bold !important;
  border-radius: 0px !important;
  border-color: var(--color2) !important;
}
.btnEliminar:hover{
  color:#fff !important;
}
/*Pantallas xs*/
@media screen and (max-width: 991px){
  #sidebar-container .menu{
    background-color: var(--color1);
    margin-right: 5px;
    float: right;
    text-align: center;
    height: 100vh;
    top: 80px;
    position: fixed !important;
    align-items: center;
    left: -100%;
    transition: 0.5s;
    padding: absolute !important;
  }
  .cuerpo {
    padding: absolute !important;
    display: block;
    box-sizing: border-box;
    height: 80px;
    font-weight: bold;
    background-color: var(--color1);
    border-radius: 0px;
    padding: 0px;
  }
  .cuerpo a {
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #ffffff1a;
  }
  .logo {
    position: absolute;
    height: 80px;
    padding: 18px 20px 10px 20px !important;
  }
  #imgLogo {
    width: 60px;
  }
  .btnEliminar {
    font-size: 20px !important;
    background-color: var(--color2) !important;
    color:#fff !important;
  }
  .chekBtn {
    display: block !important;
    align-items: center !important;
    height: 100%;
    padding: 20px 10px !important;
  }
  #check:checked ~ .menu {
    left: 0;
  }
}
