.editar{
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  height: calc(100vh - 156px);
}
.row{
  padding: 0px;
  margin: 0px;
  height: 100%;
}
#botones{
  align-items: end;
}
h1{
  height: 40px;
}
#div1{
  padding-right: 5px;
}
#div2{
  padding-left: 5px;
}
@media screen and (max-width: 991px){
  .editar{
    border-radius: 0px;
    padding: 20px;
  }
}
