<div class="editar">
  <div class="row">
    <h1 class="col-12 titulo">Cargo: </h1>
    <form>
      <label for="eje">Eje:</label>
      <input type="text" name="" id="" class="">
    </form>
    <div id="botones" class="col-12 d-flex">
      <div id="div1" class="col-6">
        <a routerLink="../" class="btn form-control btnEliminar">Cancelar</a>
      </div>
      <div id="div2" class="col-6">
        <button class="col-6 btn btnEditar form-control">Guardar</button>
      </div>
    </div>
  </div>
</div>
