<div class="contenido bordeContenido">
  <div class="headerListar pt-3">
    <div class="mb-2 align-items-center row">
      <div class="col-12 d-flex padT align-items-center">
        <div class=" col-lg-2 col-xl-2">
          <a routerLink="../" class="text-start iconoRegresar btn"><i class="bi bi-arrow-left"></i></a>
        </div>
        <h1 class="col-10 text-center titulo ">Tipos de Tenencia de las Tierras Desactivadaos</h1>
      </div>
      <div class="col-12 text-bold text-center text-sm-center text-md-center text-lg-end btnPrincipal">
        <div class="input-group mt-2 mb-2 inpBuscar">
          <label for="bus" class="input-group-text form-control"><i class="bi bi-search"></i>
            <input name="bus" type="text" class="form-control btn" placeholder="Buscar una Tenencia de la Tierra">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="tabla">
    <table class="table">
      <thead class="table-dark align-middle">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Opciones</th>
          <th scope="col">Tipo de Tenencia de la Tierra</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr id="body" *ngFor="let tenencia of tenencias" class="align-middle text-center">
          <th routerLink=":id" scope="row" class="text-center"><strong>{{tenencia.id}}</strong></th>
          <td>
            <div class=" d-grid pb-1">
              <a class="form-control btn btnGuardar">Activar</a>
            </div>
          </td>
          <td>{{tenencia.tenencia}}</td>
          <td class="text-danger fw-bold">{{tenencia.estado}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
