<div class="contenido bordeContenido">
  <div class="headerListar">
    <div class="row mb-2 align-items-center ">
      <div class="col-12 d-flex p-0 align-items-center">
        <div class=" col-2 align-items-center">
          <a routerLink="../" class="text-start iconoRegresar btn p-0"><i class="bi bi-arrow-left"></i></a>
        </div>
        <div class="col-8 align-items-center text-center">
          <h1 class="text-center  titulo">Tipos de Organizaciones</h1>
        </div>
        <div class="col-2 align-items-end text-end">
          <a (click)="obtenerOrg()" class="iconoRefrescar btn p-0"><i class="bi bi-arrow-clockwise"></i></a>
        </div>
      </div>
      <div class="col-12 col-md-3 p-0 pe-2">
        <a (click)="agregar()"  class=" btn btnEditar form-control"><i class="bi bi-stack"></i>Nuevo Tipo de
          Organizacion</a>
      </div>

      <div class="col-md-3 col-12 pt-lg-0 pt-md-0 pt-sm-2 pt-2">
        <a routerLink="desactivados" class="btn btnEliminar form-control"><i class="bi bi-stack"></i>Organizaciones
          Desactivadas</a>
      </div>
      <div class="col-12 col-md-6 text-bold text-center text-sm-center text-md-center text-lg-end btnPrincipal p-0">
        <div class="input-group mt-2 mb-2 inpBuscar">
          <label for="bus" class="input-group-text form-control"><i class="bi bi-search"></i>
            <input name="bus" type="search" class="form-control btn" placeholder="Buscar Organización"
              [(ngModel)]="txtBusqueda" (input)="buscarTabla()">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="tabla">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let element" class="">
            <a *ngIf="showBoton(element.id)" (click)="editar(element.id)" matTooltip="Editar" matTooltipPosition="above" class="botonEditarTabla"><i class="bi bi-pencil-square"></i></a>
            <a *ngIf="showBoton(element.id)" (click)="desactivar(element.id)" matTooltip="Desactivar" matTooltipPosition="above" class="botonDesactivarTabla"><i class="bi bi-trash3-fill"> </i></a>
          </td>
        </ng-container>
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons aria-label="seleccione">
    </mat-paginator>
  </div>
</div>