<div class="contenido bordeContenido">
  <div class="headerListar">
    <div class="row mb-2 align-items-center ">
      <div class="col-12 d-flex p-0 align-items-center">
        <div class=" col-2">
          <a routerLink="../" class="text-start iconoRegresar btn"><i class="bi bi-arrow-left"></i></a>
        </div>
        <div class="col-8 align-items-center text-center">
          <h1 class="text-center  titulo">Departamentos de Honduras</h1>
        </div>
        <div class="col-2 align-items-end text-end">
          <a (click)="refresh()" class="iconoRefrescar btn"><i class="bi bi-arrow-clockwise"></i></a>
        </div>
      </div>
      <div class="col-12 text-bold text-center btnPrincipal">
        <div class="input-group mt-2 mb-2 inpBuscar">
          <label for="bus" class="input-group-text form-control"><i class="bi bi-search"></i>
            <input name="bus" type="text" class="form-control btn" placeholder="Buscar Departamento"
              [(ngModel)]="buscarDepartamento" (ngModelChange)="callSearch()">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="tabla table-responsive">
    <table class="table">
      <thead class="table-dark align-middle">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Opciones</th>
          <th scope="col">Departamento</th>
        </tr>
      </thead>
      <tbody>
        <tr id="body" *ngFor="let dep of departamentos | paginate: { itemsPerPage: 4, currentPage: page } "
          class="align-middle text-center">
          <th scope="row" class="text-center"><strong>{{dep.id_dep}}</strong></th>
          <td>
            <div class=" d-grid mt-1 pb-1">
              <a class="form-control btn btnGuardar ">Ver</a>
            </div>
          </td>
          <td>{{dep.dep}}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-12 align-items-center justify-content-center d-flex botones">
        <pagination-controls (pageChange)="page=$event" previousLabel="Anterior"
          nextLabel="Siguiente"></pagination-controls>
      </div>
    </div>
  </div>
</div>
