.tarjetaBoton {
  margin: 0px;
  height: 250px;
}
.padT {
  padding-left: 0px;
}
.iconoRegresar i {
  color: var(--btn3);
  border: 1px solid var(--btn3);
  font-size: 25px;
  font-weight: bold;
  border-radius: 100%;
  padding: 5px;
}
.iconoRegresar i:hover {
  color: white;
  background-color: var(--btn3);
}

.titulo {
  padding-bottom: 10px;
}
.hijo {
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0px 2px;
  justify-content: center;
}
.tarjetaBoton div {
  height: 10% !important;
}
h2 {
  padding: 0px 20px;
  font-size: 30px;
}
a {
  transition: 0.6s;
}
.row {
  margin: 0px;
}
#a1 {
  background-color: #f18537;
  border-radius: 15px;
}
#a2 {
  background-color: var(--color1);
  border-radius: 15px;
}
#a3 {
  background-color:#1abf96;
  border-radius: 15px;
}
#a4 {
  background-color:#f5e31e;
  border-radius: 15px;
}
#a1:hover {
  background: url(../../assets/img/fondo.png), chocolate;
  background-size: cover;
}
#a2:hover {
  background: url(../../assets/img/fondo.png), darkcyan;
  background-size: cover;
}
#a3:hover {
  background: url(../../assets/img/fondo.png), #117e63;
  background-size: cover;
}
#a4:hover {
  background: url(../../assets/img/fondo.png), #b0a314;
  background-size: cover;
}
/*Media Querys*/

/*Pantallas sm*/
@media screen and (max-width: 767px) {
  .tarjetaBoton  {
    height: 100% !important;
  }
  h2 {
    font-size: 15px;
  }
  .hijo {
    height: 100px;
  }
  .iconoRegresar i {
    font-size: 10px;
  }
  a{
    margin-top: 5px;
  }
}
/*Pantallas md*/
@media screen and (min-width: 767px) and (max-width: 991px) {
  h2 {
    font-size: 20px;
  }
  .iconoRegresar i {
    font-size: 10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  h2 {
    font-size: 15px;
  }
}
