<div class="contenido">
  <div class="row">
    <div class="col-12">
      <h1 class="titulo">Bienvenido Angel David Quintanilla Ferrufino
      </h1>
    </div>
    <form>
      <form  class="col-12">
        <div class="card p-0 col-12">
          <div class="row">
            <div class="col-6 p-0 mt-5">
              <div class="input-group pe-2">
                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  placeholder="Nombre" aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
            <div class="col-6 p-0 mt-5">
              <div class="input-group ps-2">
                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  placeholder="Apellido" aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
            <div class="col-6 p-0 mt-5">
              <div class="input-group pe-2">
                <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  placeholder="Teléfono" aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
            <div class="col-6 p-0 mt-5">
              <div class="input-group ps-2">
                <span class="input-group-text"><i class="bi bi-person-vcard-fill"></i></span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  placeholder="Identidad" aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
            <div class="col-6 p-0 mt-5">
              <div class="input-group pe-2">
                <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                <input type="email" class="form-control" aria-label="Sizing example input"
                  placeholder="Correo" aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
            <div class="col-6 p-0 mt-5">
              <div class="input-group ps-2">
                <span for="btnCambio" class="input-group-text"><i class="bi bi-key-fill"></i></span>
                <button id="btnCambio" name="btnCambio" type="button" class="form-control" aria-label="Sizing example input"
                  placeholder="Ingrese la Contraseña" aria-describedby="inputGroup-sizing-default">Cambiar Contraseña</button>
              </div>
            </div>
            <div class="col-6 p-0 mt-5">
              <div class="input-group pe-2">
                <span class="input-group-text"><i class="bi bi-person-fill-gear"></i></span>
                <input type="email" class="form-control" aria-label="Sizing example input"
                  placeholder="Correo" aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
            <div class="col-6 p-0 mt-5">
              <div class="input-group pe-2">
                <span class="input-group-text"><i class="bi bi-person-fill-gear"></i></span>
                <input type="email" class="form-control" aria-label="Sizing example input"
                  placeholder="Correo" aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
          </div>
        </div>
      </form>
    </form>
  </div>
</div>