<div class="contenido">
  <div class="row mb-2">
    <div class="col-12 headerListar">
      <h1 class="titulo mb-2">{{message}} {{nombre}}
      </h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-6 text-center"><i class="bi bi-person-circle iconUser"></i></div>
    <div class="col-lg-6">
      <div class="guion col-12 mb-md-4 mb-1 mt-md-4 mt-1">
        <h2>Nombre: <span>{{nombre}}</span></h2>
      </div>
      <div class="guion col-12 mb-md-4 mb-1">
        <h2>Número de Identidad: <span>{{dni}}</span></h2>
      </div>
      <div class="guion col-12 mb-md-4 mb-1">
        <h2>Télefono: <span>{{tel}}</span></h2>
      </div>
      <div class="guion col-12 mb-md-4 mb-1">
        <h2>Correo: <span>{{email}}</span></h2>
      </div>
      <div class="guion col-12 mb-md-4 mb-1">
        <h2>Fecha de Creación: <span>{{creado}}</span></h2>
      </div>
      <div class="guion col-12 mb-md-4 mb-1">
        <h2>Último Cambio: <span>{{cambio}}</span></h2>
      </div>
      <div class="guion col-12 mb-md-4 mb-1">
        <h2>Sexo: <span>{{sexo}}</span></h2>
      </div>
      <div class="text-center col-12">
        <button (click)="cambiar()" class="btn btn-primary">Cambiar Contraseña</button>
      </div>
    </div>
  </div>
</div>