.row {
  --bs-gutter-x: 0px;
  background-color: #f7f7f7;
}
.btn-primary {
  font-weight: bold;
  background-color: var(--color1) !important;
  border-color: var(--color2) !important;
}
.btn-primary:hover{
  background-color: var(--color1-2) !important;
}
h2,
span {
  margin: 0px;
  font-size: 20px;
  align-self: center;
  font-weight: bold;
}
h2 {
  color: var(--color1);
}
span {
  margin-left: 10px;
  color: var(--color1-2);
  word-wrap: break-word;
}
.iconUser {
  font-size: 350px;
  height: 100%;
  align-self: center;
  animation-name: anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.guion{
  border-bottom: 1px solid var(--color1);
}
@keyframes anim {
  0% {
    color: var(--color1);
  } 
  25% {
    color: var(--color1);
  } 
  50% {
    color: var(--color1-2);
  } 
  75% {
    color: var(--color1-2);
  } 
  100% {
    color: var(--color1);
  } 
}
@media screen and (max-width: 767px) {
  h2,
  span {
    font-size: 10px;
  }
  .iconUser{
    font-size: 50px;
  }
}
/*Pantallas md*/
@media screen and (min-width: 767px) and (max-width: 991px) {
  h2,
  span {
    font-size: 15px;
  }
  .iconUser{
    font-size: 200px;
  }
}
