<div class="contenido bordeContenido">
  <div class="row pt-3 pt-md-3 pt-lg-0 align-items-center">
    <div class="col-1">
      <a routerLink="../" class="text-start iconoRegresar"><i class="bi bi-arrow-left"></i></a>
    </div>
    <div class="col-10">
      <h1 class="titulo text-center">Selecione un Módulo</h1>
    </div>
    <div class="col-1">
    </div>
    <div class="tarjetaBoton d-md-flex d-block">
      <a id="a2" routerLink="ejes" class="hijo col-md-4 col-12">
        <h2>Administrar Ejes</h2>
      </a>
      <a id="a1" routerLink="cargos" class="hijo col-md-4 col-12">
        <h2>Administrar Cargos</h2>
      </a>
      <a id="a3" routerLink="grados" class="hijo col-md-4 col-12">
        <h2>Administrar Escolaridad</h2>
      </a>
    </div>
  </div>
</div>