<div class="contForms bordeContenido">
  <div class="row pt-3 pt-md-3 pt-lg-0 align-items-center">
    <div class="col-1">
      <a routerLink="../" class="text-start iconoRegresar"><i class="bi bi-arrow-left"></i></a>
    </div>
    <div class="col-11">
      <h1 class="titulo text-center">Selecione un Modulo</h1>
    </div>
    <div class="tarjetaBoton d-block d-md-flex">
      <a id="a1" routerLink="tipos" class="hijo col-12 col-md-6">
        <h2>Administrar Tipos Financiamientos</h2>
      </a>
      <a id="a2" routerLink="fuentes" class="hijo col-12 col-md-6">
        <h2>Administrar Fuentes Financiamientos</h2>
      </a>
    </div>
  </div>
</div>
