<div class="contenido bordeContenido">
  <div class="row pt-3 pt-md-3 pt-lg-0 align-items-center">
    <div class="col-1">
      <a routerLink="../" class="text-start iconoRegresar"><i class="bi bi-arrow-left"></i></a>
    </div>
    <div class="col-11">
      <h1 class="titulo text-center">Selecione un Modulo</h1>
    </div>
    <div class="tarjetaBoton d-block d-md-flex mt-2">
      <a id="a2" routerLink="departamentos" class="hijo col-12 col-md-6">
        <h2>Ver Departamentos</h2>
      </a>
      <a id="a1" routerLink="municipios" class="hijo col-12 col-md-6 mt-1 mt-md-0">
        <h2>Ver Municipios</h2>
      </a>
    </div>
    <div class="tarjetaBoton d-block d-md-flex mt-1">
      <a id="a4" routerLink="aldeas" class="hijo col-12 col-md-6 ">
        <h2>Ver Aldeas</h2>
      </a>
      <a id="a3" routerLink="caserios" class="hijo col-12 col-md-6 mt-1 mt-md-0">
        <h2>Ver Caserios</h2>
      </a>
    </div>

  </div>
</div>

