<div class="contenido bordeContenido">
  <div class="headerListar">
    <div class="row mb-2 align-items-center ">
      <div class="col-12 d-flex p-0 align-items-center">
        <div class=" col-2 align-items-center">
          <a routerLink="../../" class="text-start iconoRegresar btn p-0"><i class="bi bi-arrow-left"></i></a>
        </div>
        <div class="col-8 align-items-center text-center">
          <h1 class="text-center  titulo">Encuestas Realizadas por {{usuario}}</h1>
        </div>
        <div class="col-2 align-items-end text-end">
          <a (click)="obtenerEncuestas()" class="iconoRefrescar btn p-0"><i class="bi bi-arrow-clockwise"></i></a>
        </div>
      </div>
      <div class="col-6 mt-2">
        <mat-form-field appearance="fill" class="form-control">
          <mat-label>Departamento</mat-label>
          <mat-select #selDep (valueChange)="changeDep($event)" required>
            <mat-option value="" disabled>Seleccione</mat-option>
            <mat-option *ngFor="let dep of departamentos" [value]="dep.id_dep">
              {{dep.dep}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6 mt-2">
        <mat-form-field appearance="fill" class="form-control">
          <mat-label>Municipio</mat-label>
          <mat-select #selMun (valueChange)="changeMun()" required>
            <mat-option value="" disabled>Seleccione</mat-option>
            <mat-option *ngFor="let mun of municipios" [value]="mun.id_mun">
              {{mun.mun}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="tabla">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="dep">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Departamento </th>
          <td mat-cell *matCellDef="let element"> {{element.dep}} </td>
        </ng-container>
        <ng-container matColumnDef="mun">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Municipio </th>
          <td mat-cell *matCellDef="let element"> {{element.mun}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="aldea">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Aldea </th>
          <td mat-cell *matCellDef="let element">{{element.aldea}}</td>
        </ng-container>

        <ng-container matColumnDef="caserio">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Mesa Solidaria </th>
          <td mat-cell *matCellDef="let element"> {{element.caserio}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Dirección </th>
          <td mat-cell *matCellDef="let element">{{element.address}}</td>
        </ng-container>
        <ng-container matColumnDef="hombres">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Hombres </th>
          <td mat-cell *matCellDef="let element"> {{element.hombres}}</td>
        </ng-container>
        <ng-container matColumnDef="mujeres">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Mujeres </th>
          <td mat-cell *matCellDef="let element"> {{element.mujeres}} </td>
        </ng-container>
        <ng-container matColumnDef="asistencia">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Total Asistencia </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>
        <ng-container matColumnDef="org">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Organización </th>
          <td mat-cell *matCellDef="let element"> {{element.org}} </td>
        </ng-container>
        <ng-container matColumnDef="exRios">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> ¿Existen Ríos? </th>
          <td mat-cell *matCellDef="let element"> {{element.rios}} </td>
        </ng-container>
        <ng-container matColumnDef="cantRios">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Cantidad Ríos </th>
          <td mat-cell *matCellDef="let element"> {{element.cant_rios}} </td>
        </ng-container>
        <ng-container matColumnDef="extBosques">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> ¿Existen Bosques? </th>
          <td mat-cell *matCellDef="let element"> {{element.bosques}} </td>
        </ng-container>
        <ng-container matColumnDef="tipoBosque">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Tipo de Bosque </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo_bosque}} </td>
        </ng-container>
        <ng-container matColumnDef="tipoSuelo">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Tipo de Suelo </th>
          <td mat-cell *matCellDef="let element"> {{element.suelo}} </td>
        </ng-container>
        <ng-container matColumnDef="tenencia">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Tenencia de la tierra </th>
          <td  mat-cell *matCellDef="let element"> {{element.tenencia}} </td>
        </ng-container>
        <ng-container matColumnDef="mercado">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Mercado </th>
          <td mat-cell *matCellDef="let element"> {{element.mercado}} </td>
        </ng-container>
        <ng-container matColumnDef="tecno">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Nivel Técnologico </th>
          <td mat-cell *matCellDef="let element"> {{element.tecno}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
        <ng-container matColumnDef="hora">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Hora </th>
          <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
        </ng-container>
        <ng-container matColumnDef="user">
          <th class="tabla_width" mat-header-cell *matHeaderCellDef> Aplicada por </th>
          <td mat-cell *matCellDef="let element"> {{element.user}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="seleccione">
    </mat-paginator>
  </div>
</div>